<% layout("layouts/boilerplate") %>

<div class="container text-center mt-5">
  
    <h1 class="display-1 text-danger"><%= status %></h1>
  
  <% if (status === 404) { %>
    
    <h2 class="mb-4">Oops! Page not found</h2>
    
    <p>The page you’re looking for doesn’t exist.</p>

    <a href="/listings" class="btn btn-primary">Go Home</a>

  <% } else { %>
  
    <h2 class="mb-4">Something went wrong</h2>
  
    <p><%= message %></p>
  
    <a href="/" class="btn btn-secondary">Back to Safety</a>
  
    <% } %>

</div>